#video1 {
		display: inline;text-align: center;
}

#buttons1 {
  padding: 10px; margin: 20px ;
}

#Assignments {
	background-image: url("https://wallpaperaccess.com/full/877589.jpg");
        background-repeat:no-repeat;
       background-size:cover;
}

#Mywork {
background-image: url("https://www.larutadelsorigens.cat/wallpic/full/218-2185756_beautiful-sea-shore-sea-waves-wallpaper-beach-aerial.jpg");
        background-repeat:no-repeat;
       background-size:cover;

}

#About {
	background-image: url("https://wallpaperaccess.com/full/398927.jpg");
        background-repeat:no-repeat;
       background-size:cover;
}
#Home   {
	background-image: url("https://stmed.net/sites/default/files/wood-wallpapers-28106-5883870.jpg");
        background-repeat:no-repeat;
       background-size:cover;
} 

#nottt   {
	background-image: url("https://images2.alphacoders.com/862/thumb-1920-862734.jpg");
        background-repeat:no-repeat;
       background-size:cover;
} 


body {
	margin: 0;padding: 0;
}

.centerImage
{
 text-align:center;
 display:block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  font-family:arial;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#foot {
	font-family:arial,garamond;font-size:16px;color:white;
}
