#video1 {
		display: inline;text-align: center;
}

#buttons1 {
  padding: 10px; margin: 20px ;
}

#Assignments {
	background-image: url("https://cdn.vox-cdn.com/thumbor/azFevJ9toCq0uVmo9w7l1OpFU_Q=/0x0:1800x1200/1200x0/filters:focal(0x0:1800x1200):no_upscale()/cdn.vox-cdn.com/uploads/chorus_asset/file/10675231/The_Verge_Wallpaper_Seismic_Small.jpg");
        background-repeat:no-repeat;
       background-size:cover;
}

#Mywork {
background-image: url("https://cdn.vox-cdn.com/thumbor/lDHpOUz8q0eORX7KIeD902GqQzA=/0x0:1800x1200/1200x0/filters:focal(0x0:1800x1200):no_upscale()/cdn.vox-cdn.com/uploads/chorus_asset/file/13760622/The_Verge_Wallpaper_021419_Preview.0.jpg");
        background-repeat:no-repeat;
       background-size:cover;

}

#About {
	background-image: url("https://www.hdwallpapers.net/previews/purple-waves-1179.jpg");
        background-repeat:no-repeat;
       background-size:cover;
}
#Home   {
	background-image: url("https://cdn.vox-cdn.com/thumbor/NLy039WAe10-ysPDwHClpDsup78=/0x0:1800x1200/1200x0/filters:focal(0x0:1800x1200):no_upscale()/cdn.vox-cdn.com/uploads/chorus_asset/file/13107657/The_Verge_Pathways_Wallpaper_Small.0.jpg");
        background-repeat:no-repeat;
       background-size:cover;
} 

#nottt   {
	background-image: url("https://images2.alphacoders.com/862/thumb-1920-862734.jpg");
        background-repeat:no-repeat;
       background-size:cover;
} 


body {
	margin: 0;padding: 0;
}

.centerImage
{
 text-align:center;
 display:block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

p {
  font-family: Arial; color: white;
}

li a {
  display: block;
  color: white;
  text-align: center;
  font-family:arial;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#foot {
	font-family:arial,garamond;font-size:16px;color:white;
}
